







/* Meny container start */

.menuContainer {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-auto-rows: minmax(40px, auto);
}



/*Meny container end */
/*
Boka bord container start
*/

/*
Boka bord container end
*/