







/* Meny container start */

.menuContainer {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-auto-rows: minmax(40px, auto);
}

.menyh1 {
  grid-column: 1/-1;
  grid-rows: 1;
}



/*Meny container end */
