/*
    Start tablestyle.css
*/

html, body {
    margin: 0;
}

#bordTitle { /*Titlen*/
    text-align: center;
    font-size: 40px;
}

#infoText { /*Texten under titlen*/
    text-align: center;
    font-size: 20px;
}

.buttons { /*Alla knappar som navigerar sidan*/
    outline: none;
    border: solid black 2px;
    border-radius: 10px;
    background-color: white;
    color: black;
    height: 10vh;
    margin: 10px 0;
}

#dateTable button { /*Knappar som skapas av JS läggs i #dateTable*/
    border: solid #be3434 2px;
    border-radius: 10px;
    background-color: #be3434;
    color: white;
    height: 10vh;
}

.pastDay { /*Om dagen är passerad läggs denna text till*/
    background-color: #8c2929 !important;
    border: solid #8c2929 2px !important;
}

#dateTable button:hover { /*Om man har musen på de olika tiderna*/
    background-color: #972a2a;
    border: solid #972a2a 2px;
    border-radius: 15px;
}

.hidden { /*Används för popupen där man väljer tid*/
    display: none !important;
}

#popupContainer {
    background-color: white;
    border-radius: 20px;
}

#popupContainer h2 {
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 4vw;
    margin-bottom: 0;
}

#popupContainer p {
    text-align: center;
    font-family: Helvetica, sans-serif;
}

.occupied { /*Om tiden är ockuperad*/
    color: #838383 !important;
    background-color: #8c2929 !important;
    border: solid #8c2929 2px !important;
}

.timeButton { /*Alla knappar som visar tid, genererad av JS*/
    border: solid #be3434 2px;
    border-radius: 10px;
    background-color: #be3434;
    color: white;
}

.timeButton:hover {
    background-color: #972a2a;
    border: solid #972a2a 2px;
    border-radius: 15px;
}

/*
    End tablestyle.css
*/

/*
    Start menystyle.css
*/

.menyBody {
    background-image: url("../resources/resturangblur.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;     /*bakgrundsbild som är fast */
    background-size: cover;
}

.li_sedel {
    margin-top: 25px;
    font-size: 1.5vw;
    font-family: Helvetica, sans-serif;
    color: white;
    list-style: none;
}

.menyh1 {
    font-family: 'Courier New', monospace;
    font-size: 3em;
    margin-bottom: 0;
    color: black;
    padding: 0;
}

.menyh2 {
    font-family: 'Courier New', monospace;
    font-size: 2vw;
    color: white;
}

.img_frame {
    border: solid #be3434 4px;    /* Röd ram för bilder */
}

#recension {
    margin-top: 35px;
    font-size: 1.4vw;
    font-family: Georgia, serif;
}

#img_meny-pesto {
    width: 90%;
    margin: auto;
}

#img_drinks {
    width: 90%;
    margin: auto;
}

@media only screen and (max-width: 650px) {

    .li_sedel {
        margin-top: 15px;
        font-size: 4vw;
        font-family: Helvetica, sans-serif;
        color: white;
    }

    .menyh1 {
        font-family: 'Courier New', monospace;
        font-size: 2.5em;
        margin-bottom: 0;
        color: black;
        padding: 0;
    }

    .menyh2 {
        font-family: 'Courier New', monospace;
        font-size: 5vw;
        color: white;
    }

    #recension {
        margin-top: 20px;
        font-size: 4vw;
        color: #ebd2cc;
    }

    #img_meny-pesto {
        border: solid #be3434 4px;
        width: 80%;
        margin: auto;
    }

    #img_drinks {
        border: solid #be3434 4px;
        width: 80%;
        margin: auto;
    }
}

/*
    End menystyle.css
*/
/*
    Start css.css (Anton)
*/


.indexBody {
    background-color: #e6e1c8;
}

article {
    font-size: 2vw;
}

.title {
    font-size: 10vw;
    text-align: center;
    animation: animationStart 2s linear 1; /*Animerar*/
}

.img_animate {
    animation: animationStart 4s linear 1
}

@keyframes animationStart { /*Animationer för titlen och bilder*/
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#välkommen {
    font-size: 3vw;
}


@media only screen and (max-width: 650px) {

    article {
        font-size: 3vw;
    }

    .title {
        font-size: 11vw;
    }

    #välkommen {
        font-size: 4vw;
    }

}

/*
    End css.css
*/
/*
    Tack css start
*/

#thankBody {
    overflow: hidden;
}

#thankContainer {
    background-image: url("../resources/resturangblur.jpg"); /*Bakgrundsbild på sidan*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#thankContainer h1 {
    font-size: 7vw;
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: white;
}

#thankContainer p {
    font-size: 3vw;
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: white;
}

#thankContainer a {
    background-color: #be3434;
    text-decoration: none;
    color: white;
    font-size: 3vw;
    text-align: center;
    font-family: Helvetica, sans-serif;
    border: solid #be3434 2px;
    border-radius: 20px;
    padding: 20px 0;
}

#thankContainer a:hover {
    background-color: #972a2a;
    border: solid #972a2a 2px;
}

/*
    Tack css end
*/