html, body {
    margin: 0;
}

.topBar {
    width: 100vw;
    background-color: #be3434;
    height: 48px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 48px 1fr 1fr 1fr;
}

.topBar a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    text-align: center;
}

.topBar a:hover {
    background-color: #972a2a;
}

.topBar img {
    height: 48px;
}
