.menyBody {
    background-image: url("../../resources/resturangblur.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.li_sedel {
    margin-top: 25px;
    font-size: 1.5vw;
    font-family: Helvetica, sans-serif;
    color: white;
    list-style: none;
}

.menyh1 {
    font-family: 'Courier New', monospace;
    font-size: 3em;
    margin-bottom: 0;
    color: black;
    padding: 0;
}

.menyh2 {
    font-family: 'Courier New', monospace;
    font-size: 2vw;
    color: white;
}

.img_frame {
    border: solid #be3434 4px;
}

#recension {
    margin-top: 35px;
    font-size: 1.4vw;
    font-family: Georgia, serif;
}

#img_meny-pesto {
    width: 90%;
    margin: auto;
}

#img_drinks {
    width: 90%;
    margin: auto;
}

@media only screen and (max-width: 650px) {

    .li_sedel {
        margin-top: 15px;
        font-size: 4vw;
        font-family: Helvetica, sans-serif;
        color: white;
    }

    .menyh1 {
        font-family: 'Courier New', monospace;
        font-size: 2.5em;
        margin-bottom: 0;
        color: black;
        padding: 0;
    }

    .menyh2 {
        font-family: 'Courier New', monospace;
        font-size: 5vw;
        color: white;
    }

    #recension {
        margin-top: 20px;
        font-size: 4vw;
        color: #ebd2cc;
    }

    #img_meny-pesto {
        border: solid #be3434 4px;
        width: 80%;
        margin: auto;
    }

    #img_drinks {
        border: solid #be3434 4px;
        width: 80%;
        margin: auto;
    }
}