html, body {
    margin: 0;
}

#bordTitle {
    text-align: center;
    font-size: 40px;
}

#infoText {
    text-align: center;
    font-size: 20px;
}

.buttons {
    outline: none;
    border: solid black 2px;
    border-radius: 10px;
    background-color: white;
    color: black;
    height: 10vh;
}

#dateTable button {
    border: solid #be3434 2px;
    border-radius: 10px;
    background-color: #be3434;
    color: white;
    height: 10vh;
}

.pastDay {
    background-color: #8c2929 !important;
    border: solid #8c2929 2px !important;
}

#dateTable button:hover {
    background-color: #972a2a;
    border: solid #972a2a 2px;
    border-radius: 15px;
}

.hidden {
    display: none !important;
}

#popupContainer {
    background-color: white;
}

#popupContainer h1 {
    text-align: center;
}

#popupContainer p {
    text-align: center;
}

